* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cinzel;
    scroll-behavior: smooth;
}
body {
    background-color: black;
    display: flex;

    align-items: center;
    height: 100vh;
    width: 100%;
}

.hero {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    margin: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;
}
.hero-text h1 {
    color: #ffae00;
    font-size: 36px;
}
.hero-text p {
    color: white;
    font-size: 24px;
}

.img-area {
    margin-bottom: 5vh;
    overflow: hidden;

    height: auto;
}

.img-area img {
    border-radius: 32px;
    opacity: 0.8;
    width: 90vw;
    max-width: 800px;
}

@media (max-width: 800px) {
    .hero-text {
        gap: 16px;
    }
    .hero-text h1 {
        font-size: 28px;
    }
    .hero-text p {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .hero-text {
        gap: 8px;
    }
    .hero-text h1 {
        font-size: 24px;
    }
    .hero-text p {
        font-size: 14px;
    }
}
