* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cinzel;
    scroll-behavior: smooth;
    --title-color: #ffae00;
    --button-hover: #ffa31a;
    --font-title: spectral;
}
body {
    background-color: black;
    color: aliceblue;
    margin: auto;
}
.container {
    width: 90vw;
}
header {
    display: flex;
    height: 100px;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to bottom, #252525 0%, black 100%);
}
header h1 {
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 30px;
    cursor: default;
}
.header-right {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

header a {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #ffffffb4;
    transition: all ease-in-out 200ms;
}
header a:hover {
    color: #fff;
}
main {
    position: relative;
    height: 40vw;
    min-height: 60vh;
    aspect-ratio: 16/9;
    margin: auto;
    display: flex;
    overflow: hidden;
}

.ds1 img,
.ds2 img,
.ds3 img {
    height: 110%;
    width: 50%;
    object-fit: cover;
    position: absolute;
}

.ds1 img {
    object-position: 50%;
    margin-left: 0%;
    transition: all ease-in-out 1s;
    transition-delay: 500ms;
    z-index: 2;
    width: 45.5%;
    clip-path: polygon(0% 0%, 0% 0%, 80% 0%, 0% 210%);
}
.ds1:hover img {
    clip-path: polygon(0% 0%, 0% 0%, 100% 00%, 0% 500%);
    width: 125%;
    z-index: 123;
}

.ds2 img {
    margin-left: 19%;
    width: 61.1%;
    object-position: 60%;
    z-index: 10;
    clip-path: polygon(28% 0%, 68% 0%, 96% 100%, 0% 100%);
    transition: all ease-in-out 1000ms;
    transition-delay: 500ms;
}
.ds2:hover img {
    width: 120%;
    margin-left: 0%;
    z-index: 123;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.ds3 img {
    margin-left: 60.5%;
    width: 42%;
    clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 100% 250%);
    transition: all ease-in-out 1s;
    transition-delay: 500ms;
    object-position: 40%;
    z-index: 2;
}
.ds3:hover img {
    width: 111%;
    margin-left: -10%;
    clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 100% 990%);
}

.ds1 .text,
.ds2 .text,
.ds3 .text {
    display: flex;
    width: 30vw;
    height: 25vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 2%;
    visibility: hidden;
    z-index: 999;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.904);
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    border: #ffffff60 solid 2px;
    transition: opacity 1s ease, visibility 100ms ease;
    transition-delay: 500ms;
}
.ds1:hover .text,
.ds2:hover .text,
.ds3:hover .text {
    transition-delay: 1500ms;
}
.ds1 .text span,
.ds2 .text span,
.ds3 .text span {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .paragraph {
    display: flex;
    width: 75vw;
    height: 50vh;
    margin-bottom: 8vh;
    margin-top: 8vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
}
section .paragraph h2 {
    color: var(--title-color);
    font-size: 64px;
}

.divider {
    width: 0px;
    height: 1px;
    background-color: var(--title-color);
    margin: 4% 0;
    border: none;
    transition: all 1s ease;
}
section .paragraph span {
    color: var(--title-color);
    font-size: 30px;
}
section .description {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0% 10%;
    margin: auto;
    flex-direction: row;
}
section .description p {
    font-size: 24px;
}
section .description img {
    height: 70vh;
    margin-bottom: 10%;
    mask-image: linear-gradient(to top, transparent 0%, black 20%);
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #1b1b1b46;
    width: 100%;
}
.information h2 {
    color: var(--title-color);
    text-align: center;
    font-size: 64px;
    margin-top: 10vh;
    opacity: 1;
}
.image-n-text {
    width: 100%;
    height: 100%;
    margin-bottom: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw;
}
.image-n-text:last-child {
    margin-bottom: 15vh;
}
.image-n-text img {
    width: 37vw;

    border-radius: 3%;
}
.section-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

    width: 33vw;
}
.section-text span {
    width: 100%;
    padding: 0 2%;
    margin-bottom: 4%;
    font-size: 32px;
}
.section-text p {
    width: 100%;
    padding: 2%;
    font-size: 20px;
    line-height: 1.4;
}
.forSale {
    display: flex;
    background: linear-gradient(to bottom, #131313 0%, black 100%);

    padding-top: 8vh;
    padding-bottom: 8vh;
    width: 100%;
}
.forSale h2 {
    font-size: 48px;
    width: 72vw;
    margin: auto;
    margin-bottom: 8vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
.forSale h2 img {
    width: 72px;
    padding-bottom: 10px;
    margin-right: 2vh;
    filter: brightness(0) saturate(100%) invert(1);
}
.forSale .cards {
    width: 80vw;
    margin: auto;
    gap: 32px;

    display: flex;
    justify-content: space-evenly;
}

.forSale .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: #20202077 solid 2px;
    align-items: center;
    margin: 0 3%;
    flex: 1;
    border-radius: 12px;
    transition: ease 0.4s all;
    opacity: 0.7;
}

.forSale .card:hover {
    background-color: #111111a9;
    scale: 1.01;
    opacity: 1;
}
.forSale .card img {
    width: 80%;
    margin: 1vh 0;
    height: auto;
    aspect-ratio: 2/3;
    border-radius: 12px;
    transition: ease-in-out 500ms;
}

.forSale .card ul {
    width: 80%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    list-style-type: none;
}
.forSale .card ul li {
    font-size: 16px;
}
.forSale .plataforms {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    animation-delay: 400ms;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.forSale .plataforms a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-decoration: none;
    transition: background-color ease-in-out 200ms, width ease-in-out 500ms;
}

.forSale .plataforms a img {
    width: 60%;
    height: 60%;

    margin: 0;
    padding: 0;
}
.xbox:hover {
    background-color: #107c10;
}
.nintendo:hover {
    background-color: #e60012;
}
.steam:hover {
    background-color: #202a41;
}
.playstation:hover {
    background-color: #003087;
}
.forSale .plataforms a p {
    display: none;
    text-decoration: none;
    color: #fff;
}
.see {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1ab6;
    padding: 4vh 0;
}
.see h1 {
    text-align: left;
    width: 70vw;
    margin-bottom: 8vh;
    font-size: 48px;
}
.see-also {
    display: flex;
    padding: 3vh 0;
}
.see-also .see-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.see-also .see-info img {
    width: 30vw;
    height: auto;
    border: #2b2a2ab4 solid 2px;
    margin: 0 1vw;
    border-radius: 18px;
    transition: all 300ms ease-in-out;
    opacity: 0.7;
}
.see-also img:hover {
    opacity: 1;
}
.see-also .see-info p {
    width: 30vw;
    font-size: 12px;
    text-align: center;
}
footer {
    background-color: #1b1b1b;
}
footer .info {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #aaa;
}
footer .rights {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    margin-top: 10px;
}
footer h5 {
    font-size: 14px;
}
footer .social {
    height: 8vh;
    margin-top: 10px;
    display: flex;

    flex: 1;
    border-right: #3d3d3d67 solid 1px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
footer .social p {
    margin-right: 30px;
    font-size: 18px;
}
footer .social img {
    width: 24px;
    height: 24px;
    opacity: 0.4;
    transition: all 500ms ease;
}
footer .social img:hover {
    opacity: 1;
}
footer h3 {
    font-size: 30px;
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    border-right: #3d3d3d67 solid 1px;
    margin-top: 10px;
}
footer .info h3 span {
    margin: 3px;
    font-size: 12px;
    height: 30px;
    display: flex;
    justify-content: top;
    align-items: start;
}
footer .terms-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 12px;
    margin-left: 32px;
    flex: 1;
    gap: 8px;
    font-size: 14px;
}
footer .terms-about p {
    color: #aaa;
    transition: all 300ms ease-in-out;
}
footer .terms-about p:hover {
    color: #fff;
}
footer .terms-about a {
    text-decoration: none;
}
footer .creator {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 12px;
}
footer span img {
    margin: 10px 10px;
    width: 35px;
    height: 35px;
}

@media (max-width: 1790px) {
    section .paragraph {
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    section .paragraph h2 {
        font-size: 48px;
    }
    .divider {
        margin: 2% 0;
    }
    section .paragraph span {
        font-size: 24px;
    }
    .section-text span {
        font-size: 24px;
    }
    .section-text p {
        font-size: 14px;
    }

    section .description p {
        font-size: 20px;
    }
    section .description img {
        height: 38vh;
    }
    .information h2 {
        font-size: 48px;
        margin-bottom: 2vh;
    }
    .information .divider {
        margin-bottom: 10vh;
    }
    .forSale h2,
    .see h1 {
        font-size: 36px;

        margin-bottom: 2vh;
    }

    .forSale .card img {
        width: 80%;
        min-width: auto;
    }
    .forSale .card ul li {
        font-size: 12px;
        margin: 1vh;
    }
    .forSale .plataforms a {
        width: 50px;
        height: 50px;
    }
    .see h1 {
        margin-top: 6vh;
    }
}
@media (max-width: 1250px) {
    body {
    }
    .image-n-text {
        display: flex;
        flex-direction: column;
    }
    .image-n-text:nth-of-type(2) {
        flex-direction: column-reverse;
    }
    .image-n-text img {
        width: 60vw;
    }
    .section-text {
        width: 60vw;
        display: flex;

        align-items: center;
    }
    .section-text span {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 42px;
        text-align: center;
        border-top: #ffa31a2c solid 2px;
        border-radius: 15%;

        padding-top: 4vh;
    }
    .image-n-text:last-child {
        margin-bottom: 20vh;
    }
    .section-text p {
        width: 100%;
        font-size: 18px;
        padding: 0 10px;
        margin-bottom: 20vh;
        border-bottom: #ffa31a2c solid 2px;
        border-radius: 15%;
        padding-bottom: 4vh;
    }
    .forSale .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .forSale .card {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .forSale .card img {
        height: 25vh;
        width: auto;
        margin-left: 2vw;
    }
    .forSale .card ul {
        width: 25vw;
        height: 25vh;
        justify-content: space-evenly;
    }
    .forSale .card ul li {
        font-size: 10px;
    }
    .forSale .plataforms {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 240px;

        height: 25vh;
    }
    .forSale .plataforms a {
        width: 42px;
        height: 42px;
        position: relative;
        border-radius: 12px;
        padding: 6px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .forSale .plataforms a:hover {
        border: 2px solid #ffffff5e;
        width: 190px;
    }
    .forSale .plataforms a img {
        position: absolute;
        width: 60%;
        height: 60%;
        transition: none;
    }
    .forSale .plataforms a:hover img {
        margin-left: -70%;
    }

    .forSale .plataforms a p {
        color: #fff;
        font-weight: bold;
        opacity: 0;
        z-index: 0;
        transition: all ease-in-out 300ms;
        display: block;
    }

    .forSale .plataforms a:hover p {
        opacity: 1;
        z-index: 2;
    }
}
@media (max-width: 950px) {
    body {
        border: red solid 1px;
    }
    header h1 {
        font-size: 16px;
    }
    .header-right {
        width: 120px;
    }
    header a {
        font-size: 14px;
    }
    section .paragraph h2 {
        font-size: 28px;
    }
    .divider {
        margin: 8% 0;
    }
    section .paragraph span {
        font-size: 20px;
        text-align: center;
    }
    section .description {
        justify-content: space-between;
        padding: 0 4%;
    }
    section .description p,
    .section-text p {
        font-size: 12px;
    }
    section .description img {
        height: 30vh;
        object-fit: fill;
    }
    .information h2 {
        font-size: 28px;
    }
    .image-n-text {
        margin-bottom: 0;
    }
    .image-n-text:last-child {
        margin-bottom: 8vh;
    }
    .image-n-text img {
        width: 80vw;
    }
    .section-text {
        width: 80vw;
    }
    .section-text span {
        font-size: 24px;
        margin-bottom: 2%;
    }
    .forSale {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    .forSale h2,
    .see h1 {
        width: 85vw;
        font-size: 24px;
    }
    .forSale h2 img {
        width: 40px;
        margin-right: 1vw;
    }
    .forSale .cards {
        width: 75%;
        justify-content: space-evenly;
    }
    .forSale .card {
        justify-content: center;
        align-items: center;
    }
    .forSale .card img {
        height: auto;
        width: 50%;
    }
    .forSale .card ul {
        width: 25vw;
        margin: 0 2vw;
    }
    .forSale .plataforms {
        flex-direction: row;
        width: 80%;
        height: auto;
    }

    .forSale .plataforms a {
        width: 54px;
        height: 54px;
    }
    .forSale .plataforms a:hover {
        width: 100%;
    }
    .forSale .plataforms a p {
        font-size: 12px;
        margin-left: 10%;
    }

    .see-also {
        border: gold solid 1px;
        flex-direction: column;
        gap: 32px;
        width: 90vw;
    }
    .see-also img {
        width: 50vw;
    }
}
