:root {
    --title-color: #ffae00;
    --primary-text: #f9f9f6;
    --secudary-text: #aaa;
    --button-hover: #ffa31a;
    --xbox-color: #107c10;
    --nintendo-color: #e60012;
    --playstation-color: #003087;
    --steam-color: #202a41;
    --font-title: spectral;
    --font-size-title: 32px;
    --hover-text-color: #fff;
    --slide-text: #fff;
    --bg-black-1: black;
    --bg-black-2: #0d0d0d;

    --bg-contend: #111111a9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cinzel;
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg-black-1);
    color: var(--primary-text);
    margin: auto;
}
.container {
    width: 100%;
}
header {
    display: flex;
    min-height: 100px;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #252525 0%, black 100%);
    font-weight: bold;
}
header h1 {
    font-family: var(--font-title);
    color: var(--primary-text);
    font-size: 30px;
    cursor: default;
}
.header-right {
    width: 250px;
    display: flex;
    justify-content: space-around;
}

header a {
    font-family: var(--font-title);

    font-size: 24px;
    text-decoration: none;
    color: var(--secudary-text);
    transition: all ease-in-out 200ms;
}
header a:hover {
    color: var(--hover-text-color);
}
/* slider */
.slider {
    display: none;
    margin: 0 auto;
    width: 100%;
    min-height: 33vh;
    overflow: hidden;
}
.slides {
    width: 400%;

    min-height: 400px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: all ease-in-out 1s;
}
.slide img {
    width: 100%;
    min-height: 30vh;
    object-fit: cover;

    opacity: 0.5;
}
.slide-text {
    border: solid 1px;
    position: absolute;
    bottom: 15%;
    left: 25%;
    transform: translateX(-50%);
    color: var(--slide-text);
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.329);
    backdrop-filter: blur(2px);
    padding: 8px 16px;
    border-radius: 4px;
    text-align: left;
    width: 70%;
    max-width: 200px;
    border: #1b1b1bb9 1px solid;
}
.slide-text h6 {
    font-size: 12px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: #ffa31a2c 1px solid;
}
.slide-text p {
    font-size: 10px;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}

/* fim do slider */
main {
    position: relative;
    height: 40vw;
    aspect-ratio: 16/9;
    margin: auto;
    display: flex;
    display: block;
    overflow: hidden;
}

.ds1 img,
.ds2 img,
.ds3 img {
    height: 110%;
    object-fit: cover;
    position: absolute;
}

.ds1 img {
    object-position: 50%;
    margin-left: 0%;
    transition: all ease-in-out 1s;
    transition-delay: 500ms;
    z-index: 2;
    width: 45.5%;
    clip-path: polygon(0% 0%, 0% 0%, 80% 0%, 0% 210%);
}
.ds1:hover img {
    clip-path: polygon(0% 0%, 0% 0%, 100% 00%, 0% 500%);
    width: 125%;
    z-index: 123;
}

.ds2 img {
    margin-left: 19%;
    width: 61.1%;
    object-position: 60%;
    z-index: 10;
    clip-path: polygon(28% 0%, 68% 0%, 96% 100%, 0% 100%);
    transition: all ease-in-out 1000ms;
    transition-delay: 500ms;
}
.ds2:hover img {
    width: 120%;
    margin-left: 0%;
    z-index: 123;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.ds3 img {
    margin-left: 60.5%;
    width: 42%;
    clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 100% 250%);
    transition: all ease-in-out 1s;
    transition-delay: 500ms;
    object-position: 40%;
    z-index: 2;
}
.ds3:hover img {
    width: 111%;
    margin-left: -10%;
    clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 100% 990%);
}

.ds1 .text,
.ds2 .text,
.ds3 .text {
    display: flex;
    width: 25vw;
    min-height: 20vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 2%;
    visibility: hidden;
    z-index: 999;
    padding: 50px 30px;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.904);
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    border: #1b1b1bb9 1px solid;
    transition: opacity 1s ease, visibility 100ms ease;
    transition-delay: 500ms;
}
.ds1:hover .text,
.ds2:hover .text,
.ds3:hover .text {
    transition-delay: 1500ms;
}
.ds1 .text span,
.ds2 .text span,
.ds3 .text span {
    font-size: 28px;
    width: 100%;
    font-weight: 600;
    line-height: 28px;
    border-bottom: #ffa31a2c 2px solid;
    padding-bottom: 3%;
}
.ds1 .text p,
.ds2 .text p,
.ds3 .text p {
    margin-top: 16px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .paragraph {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: var(--bg-black-2);
}
section .paragraph h2 {
    color: var(--title-color);

    font-size: 32px;
    line-height: 0%;
    text-align: center;
}

section .divider {
    width: 0px;
    height: 1px;
    background-color: var(--title-color);
    margin: 2% 0;

    border: none;
    transition: all 1s ease;
}
section .paragraph span {
    color: var(--title-color);
    font-size: 24px;
    line-height: 0%;
}
section .description {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 15vw;
    flex-direction: row;
}

section .description p {
    font-size: 20px;
    font-weight: 600;
    padding: 0 0%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .description img {
    height: 700px;
    margin-bottom: 8vh;
    mask-image: linear-gradient(to top, transparent 0%, black 20%);
    opacity: 0.7;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information h2 {
    text-align: center;
    font-size: var(--font-size-title);
    color: var(--button-hover);
}
.exibition {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 8vh 0;
}
.image-n-text {
    background-color: var(--bg-contend);
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    width: 70vw;
}

.image-n-text .image-wrapper {
    display: flex;
    flex: 1;
}
.image-n-text img {
    width: 100%;
    height: 100%;
    min-height: 400px;
    opacity: 0.7;
    object-fit: cover;
}
.image-n-text .section-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-text span,
.section-text p,
.section-text a {
    padding: 0 4%;
    font-weight: 600;
}
.section-text span {
    font-size: 24px;
    font-weight: bold;
}
.section-text p {
    line-height: 24px;
    word-spacing: 2px;
    color: var(--secudary-text);
}

.section-text a {
    text-decoration: none;
    color: var(--button-hover);
    transition: all ease-in-out 300ms;
}
.section-text a:hover {
    color: white;
}

.forSale {
    display: flex;
    background: linear-gradient(to bottom, #131313 0%, black 100%);
    padding-top: 8vh;
    padding-bottom: 8vh;
    width: 100%;
}
.forSale h2 {
    font-size: var(--font-size-title);
    width: 80vw;
    margin: auto;
    margin-bottom: 8vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
.forSale h2 img {
    width: 48px;
    padding-bottom: 10px;
    margin-right: 2vh;
    filter: brightness(0) saturate(100%) invert(1);
}
.forSale .cards {
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.forSale .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: #202020ca solid 2px;
    width: 30%;
    border-radius: 12px;
    background-color: var(--bg-contend);
    transition: ease 0.4s all;
    opacity: 0.7;
}

.forSale .card:hover {
    background-color: #111111a9;
    scale: 1.01;
    opacity: 1;
}
.forSale .card .cover {
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 12px;
    transition: ease-in-out 500ms;
    mask-image: linear-gradient(to top, transparent 0%, black 20%);
}

.forSale .card ul {
    width: 100%;
    margin-top: -2vh;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
.forSale .card ul li {
    width: 80%;
    text-align: center;
}
.forSale .plataforms {
    display: flex;

    width: 90%;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.forSale .plataforms a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
    border-radius: 100%;
    width: 60px;
    min-height: 60px;
    text-decoration: none;
    transition: background-color ease-in-out 200ms, width ease-in-out 600ms;
}

.forSale .plataforms a img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    mask-image: none;
}
.xbox:hover {
    background-color: var(--xbox-color);
}
.nintendo:hover {
    background-color: var(--nintendo-color);
}
.steam:hover {
    background-color: var(--steam-color);
}
.playstation:hover {
    background-color: var(--playstation-color);
}
.forSale .plataforms a p {
    display: none;
    text-decoration: none;
    color: var(--hover-text-color);
}
.see {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1ab6;
    padding: 4vh 0;
}
.see h1 {
    text-align: left;
    width: 100%;
    padding: 0 10vw;
    margin-bottom: 8vh;
    font-size: var(--font-size-title);
}
.see-also {
    display: flex;
}
.see-also .see-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    position: relative;
    opacity: 0.7;
}

.see-also .see-info img {
    width: 25vw;
    height: auto;
    border: #2b2a2ab4 solid 2px;
    margin: 0 1vw;
    border-radius: 18px;
    transition: all 300ms ease-in-out;
}
.see-also .see-info:hover img {
    filter: blur(4px);
    opacity: 0.5;
}
.see-also .see-info a {
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
    text-decoration: none;
    color: wheat;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10%;
    opacity: 0;
    transition: all ease-in-out 600ms;
}

.see-also .see-info a:hover {
    opacity: 1;
}

footer {
    background-color: #1b1b1b;
}
footer .info {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin: 0 auto;
    padding: 4vh 0;
    font-size: 1.5rem;
    color: var(--secudary-text);
}
footer .rights {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    margin-top: 10px;
}
footer h5 {
    font-size: 14px;
}
footer .social {
    height: 10vh;
    margin-top: 10px;
    display: flex;
    order: 1;
    flex: 1;
    border-right: #3d3d3d67 solid 1px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
footer .social p {
    margin-right: 30px;
    font-size: 18px;
}
footer .social img {
    width: 24px;
    height: 24px;
    opacity: 0.4;
    transition: all 500ms ease;
}
footer .social img:hover {
    opacity: 1;
}
footer h3 {
    font-size: 38px;
    display: flex;
    flex: 2;
    order: 2;
    justify-content: center;
    align-items: center;
    border-right: #3d3d3d67 solid 1px;
    margin-top: 10px;
}
footer .info h3 span {
    margin: 3px;
    font-size: 12px;
    height: 30px;
    display: flex;
    justify-content: top;
    align-items: start;
}
footer .terms-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 12px;
    margin-left: 32px;
    flex: 1;
    order: 3;
    gap: 16px;
    font-size: 14px;
}
footer .terms-about p {
    color: var(--secudary-text);
    transition: all 300ms ease-in-out;
}
footer .terms-about p:hover {
    color: #fff;
}
footer .terms-about a {
    text-decoration: none;
}
footer .creator {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 12px;
    background-color: #3b3b3b;
}
footer span img {
    margin: 10px 10px;
    width: 35px;
    height: 35px;
}

@media (max-width: 1450px) {
    header h1 {
        font-size: 20px;
    }
    .header-right {
        width: 150px;
    }
    header a {
        font-size: 14px;
    }
    main {
        height: 45vh;
    }
    .ds1 .text,
    .ds2 .text,
    .ds3 .text {
        width: 40vw;
        left: 4%;
    }
    section .paragraph {
        margin-top: 1vh;
        margin-bottom: 1vh;
        height: 30vh;
    }
    section .paragraph h2 {
        font-size: 32px;
        margin-bottom: 1vh;
    }
    .divider {
        margin: 0 20%;
    }
    section .paragraph span {
        font-size: 20px;

        margin-top: 1vh;
    }

    section .description p {
        font-size: 16px;
    }

    section .description img {
        height: 38vh;
    }
    .image-n-text {
        flex-direction: column;
    }
    .image-n-text:nth-last-of-type(2) {
        flex-direction: column-reverse;
    }
    .section-text span,
    .section-text p,
    .section-text a {
        padding: 2vh 10vw;
        text-align: center;
    }
    .section-text span {
        margin-top: 2vh;
    }
    .forSale {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    .forSale h2,
    .see h1 {
        font-size: 32px;

        width: 100%;
        padding: 0 15vw;
        margin-bottom: 2vh;
    }

    .forSale .card .cover {
        height: 60%;
    }
    .forSale .card ul {
        min-height: 200px;
        margin-top: -1vh;
    }
    .forSale .card ul li {
        font-size: 12px;
        margin: 1vh;
    }
    .forSale .plataforms {
        width: 100%;
    }
    .forSale .plataforms a {
        width: 50px;
        min-height: 50px;
    }
    .forSale .plataforms a img {
        width: 25px;
        height: 25px;
    }
    .see h1 {
        margin-top: 0vh;
    }

    .see-also .see-info img {
        width: 30vw;
    }
    .see-also .see-info a {
        font-size: 14px;
        padding: 8%;
        padding-bottom: 10%;
    }
}
@media (max-width: 1280px) {
    body {
        border: solid 1px;
    }
    .forSale h2 {
        font-size: 24px;
        padding: 0 10vw;
    }
    .forSale .cards {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: space-between;
    }
    .forSale .card {
        flex-direction: row;
        flex: 1;
        width: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 300px;
    }
    .forSale .card .cover {
        height: 300px;
        width: auto;
        mask-image: none;
        border-radius: 0;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    .forSale .card ul {
        width: 22vw;
        height: 300px;
        margin-top: 0;
        justify-content: space-evenly;
    }
    .forSale .card ul li {
        font-size: 12px;
    }
    .forSale .plataforms {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 200px;
        height: 300px;
        margin-bottom: 0;
    }

    .forSale .plataforms a {
        width: 42px;
        height: 42px;
        position: relative;
        border-radius: 12px;
        padding: 6px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .forSale .plataforms a:hover {
        border: 2px solid #ffffff5e;
        width: 190px;
    }
    .forSale .plataforms a img {
        position: absolute;
        width: 25px;
        height: 25px;
        transition-delay: 100ms;
    }
    .forSale .plataforms a:hover img {
        display: none;
    }

    .forSale .plataforms a p {
        color: #fff;
        font-weight: bold;
        opacity: 0;
        z-index: 0;
        transition: all ease-in-out 300ms;
        display: block;
    }

    .forSale .plataforms a:hover p {
        opacity: 1;
        z-index: 2;
    }
    .see-also {
        flex-direction: column;
        gap: 64px;
        width: 75vw;
    }
    .see h1 {
        font-size: 24px;
        padding: 0 10vw;
    }
    .see-also .see-info img {
        width: 80%;
        object-fit: cover;
        object-position: 0% 45%;
    }
    .see-also .see-info a {
        width: 80%;
        font-size: 16px;
        font-weight: bold;
        padding: 5%;
    }
    footer .social {
        padding: 0 20px;
    }
    footer .social p {
        font-size: 12px;
    }
    footer .social img {
        width: 20px;
        height: 20px;
    }
    footer .terms-about {
        font-size: 12px;
    }
}
@media (max-width: 850px) {
    body {
        border: #107c10 solid 1px;
    }

    header {
        min-height: 60px;
    }
    header h1 {
        font-size: 12px;
    }
    .header-right {
        width: 80px;
    }
    header a {
        font-size: 10px;
    }
    .slider {
        display: block;
    }
    main {
        display: none;
    }
    section .paragraph h2 {
        font-size: 28px;
    }

    section .paragraph {
        height: 15vh;
    }
    section .paragraph span {
        font-size: 12px;
        text-align: center;
    }
    section .description {
        align-items: center;
        justify-content: space-between;
        padding: 0 10%;
        margin-bottom: 8vh;
    }
    section .description p {
        font-size: 10px;
        min-height: 20vh;
    }
    section .description img {
        mask-image: none;
        height: 20vh;
        margin-bottom: 0;

        object-fit: fill;
    }
    .image-n-text {
        width: 80vw;
    }
    .image-n-text img {
        min-height: 0;
    }
    .section-text span {
        font-size: 16px;
    }
    .section-text p,
    .section-text a {
        font-size: 10px;
        line-height: normal;
    }
    .forSale {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    .forSale h2,
    .see h1 {
        width: 90vw;
        margin-bottom: 6vh;
        font-size: 28px;
        justify-content: center;
        text-align: center;
    }
    .forSale h2 img {
        width: 40px;
        margin-right: 8px;
    }
    .forSale .cards {
        width: 100%;
        justify-content: space-around;
    }
    .forSale .card {
        justify-content: center;
        align-items: center;
        width: 80vw;
        max-width: 500px;
        margin: auto;
    }
    .forSale .card .cover {
        height: auto;
        margin-left: -8vw;
        width: 50%;
        max-width: 250px;
    }
    .forSale .card ul {
        width: 40%;
    }
    .forSale .plataforms {
        flex-direction: row;
        justify-content: space-around;
        width: 90%;

        margin: 3vh 0;
        height: auto;
    }

    .forSale .plataforms a {
        width: 54px;
        height: 54px;
        transition-delay: 200ms;
    }
    .forSale .plataforms a:hover {
        width: 100%;
    }
    .forSale .plataforms a p {
        font-size: 12px;
        margin-left: 10%;
        transition: all ease-in-out 300ms;
        transition-delay: 200ms;
    }

    .see-also {
        flex-direction: column;
        gap: 32px;
        width: 90vw;
    }
    .see-also img {
        width: 50vw;
    }
    .see-also .see-info a {
        font-size: 10px;
        padding-bottom: 30px;
        font-weight: bold;
        padding: 5% 15%;
    }
    footer .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .social {
        height: 4vh;
        width: 80vw;
        flex: none;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }
    footer .social img {
        height: 4vh;

        width: 8vw;
        padding: 8px;
        margin-top: 8.5px;
        margin-left: 8.5px;
    }
    footer .social p {
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10vw;

        font-size: 16px;
    }
    footer h3 {
        order: 0;
        margin-top: 2vh;
    }
    footer h3,
    footer .social {
        border-right: none;
    }
    footer .terms-about {
        margin: 2vh 0;
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    footer .creator {
        font-size: 10px;
    }
    footer .creator img {
        width: 20px;
        height: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 420px) {
    body {
        border: rgb(72, 211, 221) solid 3px;
    }
    .slide img {
        min-height: 50vh;
    }
    .slide-text {
        left: 30%;
        bottom: 5%;
    }
    section .paragraph h2,
    .information h2 {
        font-size: 18px;
    }
    section .paragraph span {
        font-size: 11px;
    }
    section .description p {
        font-size: 8px;
    }
}
